* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: "Times New Roman";
  }
  
  html {
    background-color: #fafafa;
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #fff;
  
    max-width: 100%;
    margin: auto;
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4, -0.1rem 0rem 0.1rem #c4c4c4;
  }
  
  .text-justify {
    text-align: justify;
  }
  
  .text-white {
    color: #fff;
  }
  
  .section-heading {
    font-size: 8rem;
    text-align: center;
  
  }
  
  .section-center {
    padding: 5rem 1rem;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  /* reset code and common code ends here  */
  
  /* header starts here  */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001920;
    color: #fff;
    padding: 2rem 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
    min-height: 5vh;
    border-bottom: 0.1px solid #4BD8FF;
  }
  
  header .logo p {
  
    display: flex;
  
  
  }
  
  header .logo p img {
    width: 80px;
    height: 70px;
    margin-left: 30px;
  }
  
  .logo-figure {
    border: 1px solid #fff;
  }
  
  .logo {
    font-size: 2rem;
  
  }
  
  #menu-icon {
    display: none;
  }
  
  nav li {
    display: inline-block;
    margin-right: 2rem;
    padding: 1rem;
    transition: all 0.4s;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  .nav-link:not(.nohover):hover {
    background-color: #4BD8FF;
    border-radius: 0.6rem;
    padding: 10px;
    transition: all 0.4s;
  }
  
  .nav-link {
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
  }
  
  #sgnup {
    background-color: #001920;
    padding: 10px;
    border: 1.5px solid #4BD8FF;
    border-radius: 0.6rem;
  
    font-style: bold;
  }
  
  #sgnup:hover {
    background-color: #4BD8FF;
  }
  
  /* header ends here  */
  
  
  /*banner section start*/
  
  #blog-banner-section {
    padding: 5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    background-color: #001920;
    border-bottom: 1.5px solid #4BD8FF;
  }
  
  #blog-banner-section article {
    flex-basis: 50%;
    margin: 1rem;
  }
  
  .banner-heading {
    display: inline-block;
    padding: 1rem;
    font-size: 4rem;
    margin-bottom: 1.5rem;
    background-color: black;
    color: #fff;
  
  }
  
  .banner-description {
    font-size: 1.8rem;
  }
  
  #blog-banner-section aside {
    flex-basis: 50%;
    text-align: center;
  }
  
  .banner-img {
    width: 45rem;
    height: 45rem;
  }
  
  .left-side {
    flex-basis: 60%;
  }
  
  .left-side h1 {
    font-size: 45px;
    color: #4BD8FF;
    margin-left: 30px;
    font-family: "Times New Roman";
  }
  
  .left-side h1 span {
    color: #fff;
    font-family: "Times New Roman";
  }
  
  .left-side p {
    color: #fafafa;
    font-size: 1.6rem;
    margin-left: 30px;
    font-family: "Times New Roman";
  }
  
  .banner-img {
    animation: move 5s linear infinite;
    transform-style: preserve-3d;
  }
  
  @keyframes move {
    25% {
      transform: translateX(10px);
    }
  
    50% {
      transform: translateY(10px);
    }
  
    75% {
      transform: translateX(-10px);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  /* banner section ends here  */

  /* course explore starts here  */

.section-center h1 {
  color: #4BD8FF;
  font-size: 25px;
  font-family: "Times New Roman";
}

.section-center h2 {
  color: #4BD8FF;
  font-size: 45px;
  font-family: "Times New Roman";
}



#blog-about {
  background-color: #001920;
  border-bottom: 1.5px solid #4BD8FF;
}

.card-container {
  display: flex;
  align-items: center;
}

.card {
  flex: 1;
  border-radius: 0.6rem;
  background: linear-gradient(to top, #0f3d4b8c 50%, #0f3d4b8c 50%);
  border: #4BD8FF solid 0.5px;
  box-shadow: 20px 10px 15px 4px;
  padding: 3rem 1rem;
  margin: 5rem;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s;
  border-radius: 20px;
}

.card:hover {
  transform: scale(1.1);
}

.icon-1 {
  height: 120px;
  width: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 2rem;
}

.card-header {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #4BD8FF;

  font-family: "Times New Roman";
  text-align: center;
}

.card-description {
  padding: 0.5rem 0;
  color: #fff;
  text-align: justify;
  font-size: 1.6rem;
  font-family: "Times New Roman";
  margin-bottom: 1rem;
}

/* course explore ends here  */